/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/*------------Top Bar--------------*/
.page-top {
  /* border: 1px solid red; */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  padding: 5px 15px;
  border-bottom: 1px solid grey;
}

.page-top > * {
  width: 33.33333%;
  float: left;
  /* border: 1px solid green; */
}

.page-top div,
.page-top > a {
  padding: 10px 0;
}

.page-top > a {
  text-align: center;
  height: 40px;
}

.page-top img {
  width: 48%;
}

.page-top button {
  margin-right: 15px;
  background-color: transparent;
  border: none;
}

.page-top div button:hover {
  background-color: lightgray;
}

.page-top div a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.page-top div a:hover {
  text-decoration: underline;
}

.page-top div button,
.page-top a {
  cursor: pointer;
}

.page-top ul {
  width: auto;
  float: right;
}

 .page-top li {
  float: left;
}

.page-top li:first-child {
  margin-right: 7px;
}

.page-top li a {
  display: block;
  background-color: royalblue;
  color: white;
  border: 1px solid royalblue;
  border-radius: 3px;
  padding: 12px;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
}

.page-top li:hover {
  background-color: blue;
}

/*-----Article------*/
article {
  border: 1px solid grey;
  margin-top: 50px;
}

/*------Advert-------*/
.advert {
  height: 300px;
  text-align: center;
  padding: 10px;
  background-color: lightgray;
  border-bottom: 0.5px solid lightgray;
}

.advert h4 {
  font-size: 10px;
}

/*------Article Heading-------*/
h1 {
  width: 700px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 25px;
  font-size: 30px;
  font-weight: bolder;
  font-style: italic;
  line-height: 1.5;
}

/*--------First Image----------*/
.first-image {
  width: 1050px;
  margin: 0 auto;
}

.first-image img {
  width: 100%;
  margin-bottom: 10px;
}

.first-image figcaption {
  width: 85%;
  line-height: 1.4;
}

.first-image span {
  font-size: 14px;
  color: grey;
}

/*--------Main Content----------*/
.main {
  width: 600px;
  margin: 40px auto;
}

.main h5 {
  font-size: 15px;
  font-weight: bold;
}

.main h5 a {
  color: black;
  text-decoration-color: #ccc;
}

.main h5 a:hover {
  text-decoration: none;
}

.date-social {
  margin: 35px 0;
  /* border: 1px solid red; */
  overflow: auto;
  padding: 8px;
}

.date-social time {
  float: left;
  font-size: 12px;
  /* border: 1px solid red; */
}

.date-social div {
  float: right;
  /* border: 1px solid green; */
  width: 40%;
}

.date-social ul {
  /* border: 5px solid blue; */
  width: 66.66%;
}

.date-social button {
  width: 16.66%;
}

.date-social ul,
.date-social button, 
.date-social li {
  float: left;
}

.date-social li {
  width: 25%;
}

.date-social a {
  color: black;
  background-color: lightgray;
  border: 1px solid lightgray;
  border-radius: 100%;
  padding: 5px;
}

.date-social a:hover {
  background-color: white;
}

.date-social button {
  border: none;
  background-color: white;
}

.main p {
  margin-bottom: 15px;
  line-height: 1.5;
  font-size: 22px;
}

/*-----First Aside-------*/
.first-aside {
  float: right;
  /* border: 1px solid red; */
  width: 255px;
  /* height: 450px; */
  margin-top: 350px;
  margin-right: 75px;
}

.first-aside img {
  float: left;
}

.first-aside p,
.ad {
  float: right;
  width: 60%;
}

.ad p {
  float: none;
}

.first-aside img {
  width: 40%;
  clear:left;
  padding-bottom: 5px;
  padding-right: 5px;
}

.first-aside h5 {
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 15px;
  border-bottom: 0.5px solid #ccc;
  margin-bottom: 15px;
}

.first-aside div {
  margin-bottom: 15px;
  overflow: auto;
}

.first-aside p {
  font-size: 14px;
  line-height: 1.4;
  padding: 5px;
}

.ad h6 {
  font-weight: bold;
  font-size: 10px;
}

.ad p {
  font-size: 12px;
  padding: 0;
}

.first-aside a {
  color: black;
  text-decoration: none;
}

.first-aside a:hover {
  text-decoration: underline;
}

.first-aside div:last-child {
  background-color: lightgray;
  padding: 10px;
}

/*------Main Content-------*/
.cosmic a {
  color: blue;
}

.main .account {
  font-size: 15px;
  text-align: center;
  padding: 20px 0;
  line-height: 1.5;
  margin-bottom: 0;
  font-weight: bold;
}

.account a {
  color: blue;
  text-decoration: none;
}

.line {
  border: 0.5px solid grey;
  width: 10%;
  text-align: center;
  margin: 0 auto;
}

.top {
  margin-top: 25px;
}

.bottom {
  margin-bottom: 25px;
}

.main h3 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}

.infographic {
  width: 950px;
  margin: 0 auto;
}
.infographic img {
  width: 100%;
}

.infographic h4 {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 5px;
}

.infographic p {
  line-height: 1.2;
  margin-bottom: 5px;
}

.knocked {
  color: blue;
}

.main figure:first-of-type {
  margin: 35px 0;
}

.main iframe {
  margin-bottom: 10px;
  width: 100%;
}

.main figcaption {
  font-size: 18px;
}

.credit {
  font-size: 15px;
}

.main + figure {
  width: 700px;
  margin: 15px auto;
}

.main + figure img {
  width: 100%;
  margin-bottom: 8px;
}

.main + figure figcaption {
  font-size: 16px;
  width: 95%;
}

.main .last-para {
  font-size: 13px;
}

.last-para a {
  color: black;
}

.last-para a:hover {
  text-decoration: none;
}

.social {
  overflow: hidden;
}
.social button {
  float: left;
  width: 55%;
  padding: 10px 15px;
  background-color: royalblue;
  color: white;
  border: 1px solid royalblue;
  border-radius: 5px;
}

.social ul {
  float: right;
  border: 1px solid red;
  width: 30%;
}

.social li {
  float: left;
  width: 25%;
}

.social a {
  padding: 5px;
  color: black;
  background-color: lightgrey;
  border-radius: 100%;
  border: 1px solid lightgrey;
}

.social a:hover {
  background-color: white;
}
